azure-ai-ml
azure-identity
datasets
docker>=7.1.0
evaluate
neural-compressor
intel_extension_for_pytorch
scikit-learn
scipy
tabulate
torch
torchvision
torchaudio
torchmetrics
onnx
onnxruntime
onnxruntime-tools
transformers

